<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <appSettings>
        <!-- 参照依存は検知しないための除外する参照リスト -->
        <add key="json_system_list" value="[
         {'name':'System'},
         {'name':'CrystalDecisions'},
         {'name':'Microsoft'},
         {'name':'C1'},
         {'name':'FlashControlV71'},
         {'name':'office'},
         {'name':'Oracle'},
         {'name':'GrapeCity'},
         {'name':'Interop'},
         {'name':'Ionic.Zip'},
         ]
         "/>

        <!-- 参照依存は検知しないための除外する参照リスト 
         このリストに含まれていない参照のパスは出力フォルダになる-->
        <add key="json_system_list_partial" value="[
         {'name':'System'},
         {'name':'Microsoft.VisualBasic'},
         {'name':'office'},
         {'name':'CrystalDecisions'},
         {'name':'FlashControlV71'},
         {'name':'C1'},
         {'name':'GrapeCity'},
         ]
         "/>


        <!--参照の置き換えリスト（dllバージョンアップの際に用いるといい）-->
        <add key="json_convert_ref" value="[
         {'from':'Oracle.DataAccess','to':'Oracle.DataAccess'},
         ]
         "/>

        <!--MSBuildのパス-->
        <add key="MSBuildPath" value="C:\Program Files (x86)\Microsoft Visual Studio\2017\Enterprise\MSBuild\15.0\Bin\MSBuild.exe"/>

    </appSettings>

</configuration>